body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

label, input, button, select, textarea {
    font-size: 13px;
}

textarea {
    font-family: monospace;
}

/** Begin main window styles **/
#main-window {
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 572px;
    height: 425px;
    background-color: #ECECEC;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

#main-window .nav-tabs {
    margin-bottom: 10px;
}

#main-window .nav-tabs li a {
    line-height: 10px;
    padding: 5px;
    -webkit-flex: 0 1 auto;
}

#main-window .tab-content {
    height: 100%;
    display: -webkit-flex;
}

#main-window .tab-content .tab-pane {
    -webkit-flex: 1 1 auto;
}

#main-window .tab-content .tab-pane.active {
    display: -webkit-flex;
}

#main-window #editor {
    -webkit-justify-content: space-between;
}

#main-window #player {
    -webkit-flex-direction: column;
}

#main-window .left-pane {
    width: 30%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

#main-window .right-pane {
    width: 68%;
    overflow: auto;
}

#main-window .toolbar {
    -webkit-flex: 0 1 30px;
}
#main-window .toolbar .new-button { float: left; }
#main-window .toolbar .remove-button { float: right; }

#main-window .tree { 
    -webkit-flex: 1 1 100%;
    padding: 5px;
    overflow: auto;
}

#main-window .right-pane textarea {
    width: 90% !important; /* Important because jsonform uses inline styles for width and height */
    height: 100px !important;
}

#search-result {
    display: inline;
}

.player-toolbar {
    text-align: right;
    width: 100%;
    -webkit-flex: 0 1 30px;
    margin-bottom: 5px;
}

.player-lists {
    width: 100%;
    -webkit-flex: 1 1 100%;
    -webkit-justify-content: space-between;
    display: -webkit-flex;
}

#search-form {
    float: left;
}

#search-result, #play-queue {
    width: 49%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

#search-result ul, #play-queue ul {
    background-color: #ffffff;
    -webkit-flex: 1 1 100%;
    overflow: auto;
    margin: 3px 0px;
    padding: 5px;
}

.playing {
    color: red;
}
