.main-wrap {
    border: 1px solid black;
    width: 866px;
    height: 650px;
    position: relative;
    padding: 0px;
}

#msg-container {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    font-family: sans;
    background-color: rgba(50,50,50,0.5);
    padding: 20px 0px;
    color: white;
    position: absolute;
    top: 40%;
    left: 0px;
}

#msg-container.webvs-started {
    display: none;
}

#msg-container .msg {
    display: none;
}

#msg-container.webvs-stopped .stopped {
    display: block;
}

#msg-container.webvs-waiting .waiting {
    display: block;
}